language: python
python:
  - 2.6
  - 2.7
  - 3.4
install: pip install -r test_requirements.txt
script: nosetests -v -w tests/ --logging-filter="lassie" --with-cov --cov lassie --cov-config .coveragerc --cov-report term-missing
notifications:
  email: false
after_success:
  - coveralls
